.input-icon-wrapper {
  position: relative;
  display: inline-block;
}

.input-icon {
  position: absolute;
  left: 20px;
  top: 30%;
  translate: translateY(-50%);
  color: #999;
  pointer-events: none;
}

.input-icon-wrapper input {
  padding-left: 45px;
  padding-right: 10px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
}

/* .input-icon-wrapper input:focus {
  border-color: #5cdd37;
} */
